version: '2'
services:
  web:
    image: alexcheng/magento:1.9.1.0
    ports:
      - "80:80"
    links:
      - mysql
    env_file:
      - env
    environment:
      - MYSQL_HOST=mysql
    volumes:
      # Maybe use change this to use a glob pattern
      - ./files/app/code/local/Crossroads/API:/var/www/htdocs/app/code/local/Crossroads/API
      - ./files/app/etc/modules/Crossroads_API.xml:/var/www/htdocs/app/etc/modules/Crossroads_API.xml

      - ./files/app/code/local/Crossroads/API:/var/www/htdocs/app/code/local/Crossroads/BundleItems
      - ./files/app/etc/modules/Crossroads_API.xml:/var/www/htdocs/app/etc/modules/Crossroads_BundleItems.xml
  mysql:
    image: mysql
    ports: 
      - "3306:3306"
    env_file:
      - env
