@import "../../styles/import";

.block {
  display: inline-block;
}

.heading {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.body {
  background: #fff;
  color: #000;
  padding: 1em 2em .5em 2em;
  width: 15em;
  line-height: normal;
  right: 0;
  border: 1px solid #ccc;
  z-index: z("popup");
}

.totals {
  border-top: 1px solid #eee;
  padding-top: 0.7em;
  margin: 0.7em 0;
}
