// =========
//  FLEXBOX
// =========


%flex {
  display: block;

  html:not(.no-flexbox) & {
    display: flex;
  }

  // make %flex extendable in all regular min-width media queries
  // @each $size, $breakpoint in site("breakpoints") {
  //   &--#{$size} {
  //     html:not(.no-flexbox) & {
  //       @include mq($breakpoint) {
  //         display: flex;
  //       }
  //     }
  //   }
  // }
}


%inline-flex {
  html:not(.no-flexbox) & {
    display: inline-flex;
  }
}


// direction properties:
// ---------------------

$flex-properties: flex-direction;
$flex-keywords:   row, row-reverse, column, column-reverse;

@each $property in $flex-properties {
  @each $keyword in $flex-keywords {
    %#{$property}-#{$keyword} {
      #{$property}: #{$keyword};
    }
  }
}


// alignment properties:
// ---------------------

$flex-properties: align-items, justify-content, align-self, align-content;
$flex-keywords:   flex-start, flex-end, center, baseline, stretch, auto, baseline, space-between, space-around;

@each $property in $flex-properties {
  @each $keyword in $flex-keywords {
    %#{$property}-#{$keyword} {
      #{$property}: #{$keyword};
    }
  }
}


// grow and shrink:
// ----------------

%flex-grow {
  flex: 1 0;
}

%flex-grow--forbid {
  flex-grow: 0;
}

%flex-shrink {
  flex: 0 1;
}

%flex-shrink--forbid {
  flex-shrink: 0;
}


// wrapping properties:
// --------------------

$flex-properties: flex-wrap;
$flex-keywords:   wrap, nowrap, wrap-reverse;

@each $property in $flex-properties {
  @each $keyword in $flex-keywords {
    %flex-#{$keyword} {
      #{$property}: #{$keyword};
    }
  }
}


// ordering:
// ---------

%order-1 {
  order: 1;
}

%order-2 {
  order: 2;
}

%order-3 {
  order: 3;
}
