@import "../../styles/import";

.block {
  background: #fff;
  border: 1px solid #ccc;
  padding: 1.5em;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  min-height: 335px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  transition: opacity 0.3s transition("swift--in");
  opacity: 1;
  
  &.adding {
    opacity: 0.3;
  }
}
