.iconWrapper {
  padding: 6em;
}

.loadingIcon {
  width: 55px;
  height: 55px;
  border: 2px solid #999;
  border-left-color: #fff;
  display: inline-block;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
